.team-page {
  padding: 2rem;
  text-align: center;
  color: #f0f0f0;
  width: 100%;
}

.team-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #90caf9;
  text-shadow: 0 0 10px rgba(144, 202, 249, 0.4);
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}
.load-more-btn {
  margin: 2rem auto;
  display: block;
  padding: 12px 24px;
  background-color: #90caf9;
  color: #121212;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(144, 202, 249, 0.3);
  transition: all 0.3s ease;
}

.load-more-btn:hover {
  background-color: #64b5f6;
  box-shadow: 0 0 18px rgba(144, 202, 249, 0.5);
}

.team-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.custom-number-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background: #1e1e1e;
  padding: 8px 14px;
  border-radius: 24px;
  border: 1px solid #90caf9;
  box-shadow: 0 0 10px rgba(144, 202, 249, 0.3);
}

.custom-number-input input {
  width: 40px;
  text-align: center;
  font-size: 1rem;
  color: #90caf9;
  background: transparent;
  border: none;
  outline: none;
}

.custom-number-input button {
  background: #90caf9;
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  font-size: 1rem;
  font-weight: bold;
  color: #1e1e1e;
  cursor: pointer;
  transition: 0.3s ease;
}

.custom-number-input button:hover {
  background: #64b5f6;
}

.apply-btn {
  padding: 8px 16px;
  background-color: #90caf9;
  color: #121212;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.apply-btn:hover {
  background-color: #64b5f6;
}
/* ----------------------------------------------------------------------------------------- */

.light .team-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #1976d2;
  font-weight: bold;
}

.light .load-more-btn {
  background-color: #1976d2;
  color: #ffffff;
  font-weight: bold;
}

.light .load-more-btn:hover {
  background-color: rgb(7, 76, 145);
}

.light .custom-number-input {
  background: #eeeeee;
  border: 1px solid #86898b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.light .custom-number-input input {
  color: #000000;
}
.light .custom-number-input button {
  background: #1976d2;
  color: #eeeeee;
  cursor: pointer;
  transition: 0.3s ease;
}

.light .custom-number-input button:hover {
  background: #86898b;
}

.light .apply-btn {
  background: #1976d2;
  color: #eeeeee;

}

.light.apply-btn:hover {
  background:  #1976d2;
}
